#grid-container {
  display: flex;
  width: 720px;
  height: 720px;
  border: 1em black solid;
}

.grid-cell {
  /* width: 20px;
  height: 20px; */
  background-color: lightgray;
  border: 1px black solid;
  box-sizing: border-box;
}

.hover-bg {
  background-color: black;
}
